<html>
	<head>
		<meta http-equiv="refresh" content="15" >
		{{ moment.include_jquery() }}
	        {{ moment.include_moment() }}
	</head>
	<body bgcolor="#f1f1f1">
	<style>
	th {
	    border-radius:7px 7px 7px 7px;
	    background-color:  #73A2EF;
	    color: white;
	}
	</style>
	<br />
	<div align="center" style="background-color: #73A2EF; bottom: 0px; left: 0px; x-index: -1; color: #fff; font-size: 2.5em;"><b>Lobos boogie 2016</b> ({{ moment().format('hh:mm') }}hs)</div>
	<center>
	<table width="96%">
		{% set flightCount = flightNum - 1 %}
		<tr>
		{% for flightNumber, skydivers in flights.iteritems()|sort() %}
			{% if loop.index0 != 0 %}
				<th align="center" width="25%" style="font-size: 2.5em">
			{% else %}
				<th align="center" width="25%" style="font-size: 2.5em;background-color: #5ACB5A">
			{% endif %}
				{% if 'combustible' in flightNumber|string() %}
					Combustible
				{% else %}
					{% set flightCount = flightCount + 1 %}
					{{ flightCount }}
				{% endif %}
			</th>
		{% endfor %}
		</tr>
		<tr>
		{% for flightNumber, skydivers in flights.iteritems()|sort() %}
			<td width="25%" valign="top">
				{% if 'combustible' in flightNumber|string() %}
					<center>
					<table>
					<tr>
						<td align="center"><img width="180" height="180" src="/static/fuel.png" /></td>
					</tr>
					</table>
					</center>
				{% else %}
					<table>
					{% for skydiver in skydivers %}
						{% if skydiver|length > 3 %}
						<tr>
							<td style="font-size: 1.4em;"><font color="#FF7563" style="font-size: 0.5em;">{{ loop.index0 + 1}}</font>
							{% if skydiverImage[skydiver] %}
								<img width="30" height="30" src="/static/skydiver/{{skydiverImage[skydiver]}}" /> {{ skydiver }}
							{% else %}
								<img width="30" height="30" src="/static/skydiver/unknown.png" /> {{ skydiver }}
							{% endif %}
							</td>
						</tr>
						{% endif %}
					{% endfor %}
					</table>
				{% endif %}
			</td>
		{% endfor %}
		</tr>
	</table>
	</center>
	</body>
</html>
